.aboutContainer {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    position: relative;
    padding: 64px 138px 100px 138px;
    background-color: var(--oasis-light);
    z-index:1;

    @media screen and (min-width: 1000px) {
        margin-bottom: 100px;
        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: -200px;
          width: 300%;
          background-color: inherit;
          z-index: 0;
          transform-origin: left;
        }
      }
  }

.aboutContainer .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 130px;
    row-gap: 30px;
    z-index: 1;
    align-items: center;
    overflow: hidden;

    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
      margin-bottom: 64px;
    }
}

.aboutContainer .grid .image {
    width: 100%;
    height: 100%;    
  
    @media screen and (max-width: 1000px) {
      height: 0;
    }
  }

  img{
    width: 100%;
    height: auto;
  }

.reverse {
    order: 1;
  
    @media screen and (max-width: 1000px) {
      order: 0;
    }
  }


  .section3 .title h2 {
    margin: 0;
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 64px;
    line-height: 92px;
    /* identical to box height */
    color: var(--oasis-blue);
    display: flex;
    align-items: center;
  }

.section2 {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    position: relative;
    padding: 0px 128px 100px 128px;
    background-color: var(--oasis-light);

    @media screen and (min-width: 1000px) {
        margin-bottom: 100px;
        &:before {
          content: "";
          position: absolute;
          top: -200px;
          bottom: 0;
          left: -200px;
          width: 300%;
          background-color: inherit;
          z-index: 0;
          transform-origin: left;
        }
      }
}

.section2 .timelineContainer {
  display: flex;
  justify-content: center;
  margin-right: 50px;
}

.section3 {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    position: relative;
    padding: 0px 128px 100px 128px;
    background-color: var(--oasis-light);
    z-index: 1;

    @media screen and (min-width: 1000px) {
        margin-bottom: 100px;
        &:before {
          content: "";
          position: absolute;
          top: -200px;
          bottom: 0;
          left: -200px;
          width: 300%;
          background-color: inherit;
          z-index: 0;
          transform-origin: left;
        }
      }
  }

  
  .section4 {
    display: flex;
    flex-direction: column;
  }