body {
  /* width: fit-content; */
  overflow-x: hidden;
  margin: 0;
}

body .landingPage {
  position: relative;
  color: #FFFFFF;
  height: calc(100vh);
  z-index: 0;
}

.landingPage .animatedScrollContainer {
  position: absolute;
  height: calc(100vh);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  background-image: url('../../images/OasisHero2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  
  @media screen and (max-width: 640px) {
    width: 100%;
    padding: 70px 12% 0px 12%;
  }  
}

/* .paddingDesktop {
  
} */

/* 
.paddingMobile {
  width: auto;
  padding: 70px 12% 0px 12%;
} */

.landgingPage .stickToParentEnd {
  position: absolute;
  bottom: 0;
}

.logo {
  color: #FFFFFF;
  margin: 0px auto;
}

/* .logoStartingSizeDesktop {
  height: 150px;
  width: 200px;
}

.logoStartingSizeMobile {
  height: 80px;
  width: 100px;
} */

.landingPage .animatedScrollContainer .bottomRow .dateAndLocation .arrow {
  color: white;
}

.arrow:hover {
  color: #F2D16B; 
}

.landgingPage .animatedScrollContainer .bottomRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}

.arrowContainer {
  display: flex;
  margin-top: 8px;
}

.landgingPage .animatedScrollContainer .bottomRow .dateAndLocation {
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr;
}

li {
  font-size: 28px;
  font-family: 'Brandon Grotesque';
  font-style: normal;
  list-style: none;
}

.linkContainer h4 {
  font-family: 'Brandon Grotesque';
  font-style: normal;
  font-weight: 420;
  font-size: 28px;
  line-height: 40px;
  /* identical to box height */

  display: flex;
  align-items: center;
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #F2D16B;
  font-weight: 450;
}

button {
  cursor: pointer;
}

.landingPage .animatedScrollContainer .bottomRow .dateAndLocation .linkContainer {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
}

.textSplash {
  font-family: 'Brandon Grotesque';
  font-style: normal;
  font-weight: 420;
  font-size: 150px;
  line-height: 286px;
  color: #002642;
  margin-top: 180px;
}

.textSplash h1 {
  margin: 0;
  margin-left: 50px;
}

.textSplash p {
  font-weight: 420;
  font-size: 28px;
  line-height: 40px;
  margin-left: 70px;
  margin-top: 60px;
}

.textSplash .TypeWriter {
  top: -50%;
}