.mentorSectionOne {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    position: relative;
    padding: 64px 128px 64px 128px;
    background-color: var(--oasis-light);
    z-index: 1;

    @media screen and (min-width: 1000px) {
        margin-bottom: 100px;
        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: -200px;
          width: 300%;
          background-color: inherit;
          z-index: 0;
          transform-origin: left;
        }
      }
  }

.memberGridRow {
    display: grid;
    grid-template-columns: 120px auto;
    width: 90%;
}

.memberGridOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 124px;
    justify-items: center;
}

span.circleTurquoise {
    margin: 0 auto;
    border-radius: 50%;
    height: 73px;
    width: 73px;
    position: absolute;
    background-color: var(--oasis-green-pastel);
}