.faqContainer {
    display: grid;
    grid-template-columns: 40% 40px;
    padding: 64px 128px 64px 128px;
    background-color: var(--oasis-light);
    transition: background-color 0.1s ease-out;
    cursor: pointer;
    border-top: 3px solid var(--oasis-blue);
    justify-content: space-between;
    width: 70%;
    @media screen and (max-width: $breakpoint-mobile),
      screen and (max-width: $breakpoint-midsize) {
      display: flex;
      flex-direction: row;
      row-gap: 16px;
      padding: 32px;
    }
  }
  
  .faqContainer h3 {
    font-family: 'Brandon Grotesque';
    font-style: medium;
    font-weight: 500;
    font-size: 28px;
    margin: 0;
    color: var(--oasis-blue);
  }

  .faqContainer h2 {
    color: var(--oasis-blue);
    margin: 0;
    font-weight: 500px;
  }

  .faqContainer p {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 390;
    font-size: 28px;
    margin: 0;
  }

  .faqContainer:hover {
    background-color: var(--oasis-green-pastel);
  }
  .expanded {
    display: grid;
    grid-template-columns: 40% 40px;
    grid-template-rows: 1fr 1fr;
    background-color: var(--oasis-light);
    column-gap: 64px;
    row-gap: 30px;
  }

  .icon {
    color: var(--oasis-dark);
    cursor: pointer;
    width: 500%;
  
    @media screen and (max-width: $breakpoint-mobile),
      screen and (max-width: $breakpoint-midsize) {
      display: none;
    }
  }
