.aboutSectionOne,
.mission,
.ourTeam {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  position: relative;
  padding: 64px 128px 64px 128px;
  background-color: var(--oasis-light);
  z-index: 1;

  @media screen and (min-width: 1000px) {
    margin-bottom: 100px;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -200px;
      width: 300%;
      background-color: inherit;
      z-index: 0;
      transform-origin: left;
    }
  }
}

.aboutSectionOne {
  padding-top: 120px;
}

.aboutHero {
  width: 60%;
  align-self: center;
}

.mission {
  row-gap: 20px;
}

.gridMission {
  display: grid;
  grid-template-columns: 10% 80%;
  column-gap: 85px;
  row-gap: 50px;
  align-items: baseline;
}

/* .gridMission .circlePosition {
        position: relative;
        top: -20px;
            
} */

.row {
  display: grid;
  justify-items: center;
}

span.circleYellow {
  margin: 0 auto;
  border-radius: 50%;
  height: 73px;
  width: 73px;
  position: absolute;
  background-color: var(--oasis-yellow-pastel);
}

.teamGridContainer {
  display: flex;
  justify-content: center;
}
