.cardContainer {
  background-color: var(--oasis-light);
  color: var(--oasis-blue);
  position: relative;
  z-index: 2;

  .title {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 32px;
  }

  .titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.cardContainer .cardGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  column-gap: 100px;
  row-gap: 32px;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  } 
    
}

.cardBlock {
  background-color: var(--oasis-green-pastel);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardBlock h4 {
  font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 96px;
    line-height: 137px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0px;
    color: var(--oasis-blue);
}

.cardBlock p {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 28px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}

.pageController {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media screen and (max-width: 640px) {
    width: 100%;
  }
}

.pageController div {
  height: 12px;
  width: 12px;
  border: 2px solid var(--oasis-blue);
  border-radius: 100%;



  @media screen and (min-width: 1000px) {
    &:hover {
      transition: all 0.2s ease-out;
      transform: scale(1.2);
    }
  }
}

.pageController div:selected {
  background-color: var(--oasis-blue);
}