.joinSectionOne, .timelineContainer, .projectsContainer, .joinFAQContainer {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
    padding: 64px 128px 64px 128px;
    background-color: white;
    z-index: 1;

    @media screen and (min-width: 1000px) {
        margin-bottom: 100px;
        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: -200px;
          width: 300%;
          background-color: inherit;
          z-index: 0;
          transform-origin: left;
        }
      }
  }

p {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 390;
    font-size: 28px;
    color: #002642;
}

.joinGridOne {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    column-gap: 85px;
}

.joinGridRow {
    display: grid;
    justify-items: center;
    row-gap: 40px;
}

.joinGridColumn {
    display: grid;
    justify-items: center;
    row-gap: 45px;
}

.joinGridOne span.circleTurquoise {
    margin: 0 auto;
    border-radius: 50%;
    height: 73px;
    width: 73px;
    position: relative;
    background-color: #B8D8CA;
}

.projectButton {
    background-color: #B8D8CA;
    border-radius: 20px;
    border: 2.5px solid #002642;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    width: 300px;
    align-self: center;
}

.projectButton:hover {
    border: 3.5px solid #002642;
    transition: transform 0.4s smooth;
    padding: 9px 0 9px 0;
}

.projectButton h4 {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 28px;
    color: #002642;
    margin: 0;
}

.projectButton:hover h4 {
    font-weight: 500;
}

.faqsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }