@import url("https://use.typekit.net/bvx7lxn.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme(colors.oa-green);
}

:root {
  --oa-yellow: theme(colors.oa-yellow);
  --oa-yellow-pastel: theme(colors.oa-yellow-pastel);
  --oa-green: theme(colors.oa-green);
  --oa-green-pastel: theme(colors.oa-green-pastel);
  --oa-blue: theme(colors.oa-blue);
  --oa-extra-dark: theme(colors.oa-extra-dark);
  --oa-dark: theme(colors.oa-dark);
  --oa-gray: theme(colors.oa-gray);
  --oa-light: theme(colors.oa-light);
  --oa-extra-light: theme(colors.oa-extra-light);
}

* {
  font-family: "brandon-grotesque";
  font-weight: 500;
  font-style: normal;
}

h3 {
  @apply text-2xl
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: theme(colors.oa-green);
}

h1 {
  @apply text-6xl mb-[0.25rem]
}

b {
  color: theme(colors.oa-green);
  @apply underline;
}

p {
  font-weight: 400;
  @apply text-xl
}

svg {
  fill: currentColor;
}

.windowless {
  widows: 3;
}