@import url("https://use.typekit.net/bvx7lxn.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --oasis-yellow: theme(colors.oasis-yellow);
  --oasis-yellow-pastel: theme(colors.oasis-yellow-pastel);
  --oasis-green: theme(colors.oasis-green);
  --oasis-green-pastel: theme(colors.oasis-green-pastel);
  --oasis-blue: theme(colors.oasis-blue);
  --oasis-extra-dark: theme(colors.oasis-extra-dark);
  --oasis-dark: theme(colors.oasis-dark);
  --oasis-gray: theme(colors.oasis-gray);
  --oasis-light: theme(colors.oasis-light);
  --oasis-extra-light: theme(colors.oasis-extra-light);
}

* {
  font-family: "brandon-grotesque";
  font-weight: 500;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: theme(colors.oasis-green)
}

p {
  font-weight: 400;
}

svg {
  fill: currentColor;
}
