@import url("https://use.typekit.net/bvx7lxn.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme(colors.oasis-green);
}

:root {
  --oasis-yellow: theme(colors.oasis-yellow);
  --oasis-yellow-pastel: theme(colors.oasis-yellow-pastel);
  --oasis-green: theme(colors.oasis-green);
  --oasis-green-pastel: theme(colors.oasis-green-pastel);
  --oasis-blue: theme(colors.oasis-blue);
  --oasis-extra-dark: theme(colors.oasis-extra-dark);
  --oasis-dark: theme(colors.oasis-dark);
  --oasis-gray: theme(colors.oasis-gray);
  --oasis-light: theme(colors.oasis-light);
  --oasis-extra-light: theme(colors.oasis-extra-light);
}

* {
  font-family: "brandon-grotesque";
  font-weight: 500;
  font-style: normal;
}

h3 {
  @apply text-2xl
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: theme(colors.oasis-green);
}

b {
  color: theme(colors.oasis-green);
  @apply underline;
}

p {
  font-weight: 400;
  @apply text-xl dark:text-oasis-light text-oasis-dark
}

svg {
  fill: currentColor;
}

.windowless {
  widows: 3;
}