.navContainer {
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #397367;
    align-items: center;
    padding: 10px 0 10px 0;
}

.navContainer ul.logoContainer {
  display: flex;
  flex-direction: row;
  width: 70px;
  padding: 0;
  padding-left: 128px;
}

.navContainer ul.logoContainer .logo {
  margin-left: 24px;
  height: 61px;
  width: 61px;
  transition: transform 0.1s ease-out;
  cursor: pointer;
}   

.navContainer ul.logoContainer .logo:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

ul {
  list-style-type: none;
}

.staticNav {
    position: static;
    z-index: 0;
}

a.navLinks {
  text-decoration: none;
}

ul.navLinks {
  display: flex;
  flex-direction: row;
  padding-right: 128px;
  margin: 0;
}

.navContainer .navLinks li {
      display: flex;
      flex-direction: row;
      column-gap: 4px;
      color: #FFFFFF;
      font-family: 'Brandon Grotesque', sans-serif;
      font-weight: 420;
      font-style: normal;
      text-decoration: none;
      align-items: center;
      justify-content: center;

      font-size: 25px;
      letter-spacing: calc(13px * 0.03);
      text-transform: none;
      padding: 24px;
      cursor: pointer;
      height: 66px;
      box-sizing: border-box;
    }

.navContainer .navLinks li:hover {
    transition: 0.1s ease-out;
    font-weight: 450;
}

.navContainer .navLinks li:b {
  transition: 0.1s ease-out;
  font-weight: 450;
}


