.footerContainer {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    grid-template-columns: 20% 55% 25%;
    background-color: #397367;
    padding: 64px 64px 32px 64px;
    z-index: 1;

    @media screen and (max-width: 1000px) {
        grid-template-columns: 10% 70% 20%;
    }

    @media screen and (max-width: 640px) {
        grid-template-columns: 1fr;
    }
}

.footerContainer ul.logoContainer {
    display: flex;
    width: 150px;
    padding: 0;
    align-items: flex-start;
}

.footerContainer ul.logoContainer .logo {
    width: 100%;
}

.footerContainer ul.linksContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footerContainer ul.linksContainer a {
    text-decoration: none;
  }

ul.linksContainer .col {
    display: flex;
    flex-direction: column;
}

.footerContainer ul.linksContainer .col li {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    color: white;
    font-family: 'Brandon Grotesque', sans-serif;
    font-weight: 420;
    font-style: normal;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;

    font-size: 25px;
    letter-spacing: calc(13px * 0.03);
    text-transform: none;
    padding: 0px 24px 24px 24px;
    cursor: pointer;
    height: 66px;
    box-sizing: border-box;
}

.col li:hover {
    transition: 0.1s ease-out;
    font-weight: 450;
  }

.col li h4 {
    width: 69px;
    height: 40px;
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 28px;
    color: #FFFFFF;
    margin-top: 0;
}

.mediaIconContainer {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    position: relative;
}

.mediaIconContainer .iconCol {
    display: flex;
    flex-direction: row;
    row-gap: 25px;
}

.mediaIconContainer .iconCol .circle {
    width: 75px;
    height: 75px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.greenLogo {
    width: 80%;
    margin-left: 7px;
}

a img.greenLogo  {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.col {
    display: flex;
    justify-content: center;
    align-items: center;
}