.sockContainer {
     background-color: var(--oasis-light);
     display: grid;
     grid-template-columns: 20% 55% 25%;
     padding: 64px 64px 64px 64px;
     z-index: 1;
}

.formContainer {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}

h3 {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 38px;
    display: flex;
    color: var(--oasis-blue);
    margin: 5px;
}

.sockContainer .formContainer {
    display: flex;
    flex-direction: column;
    padding-left: 60px; 
}

.sockContainer .formContainer .text p {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 390;
    font-size: 20px;
    line-height: 29px;
    color: var(--oasis-blue);
    width: 50%;
}

.formContainer .text {
    display: flex;
    position: relative;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer h4 {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 28px;
    color:var(--oasis-blue);
}

.text p {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 390;
    font-size: 20px;
    line-height: 29px;
    color: var(--oasis-blue);
    width: 50%;
}

.formInputContainer {
    display: grid;
    grid-template-columns: 1fr auto;

}

.emailInput {
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: var(--oasis-light);
    column-gap: 25px;
    width: 80%
}

.submitButton {
    background-color: var(--oasis-light);
    border-radius: 20px;
    border: 2.5px solid var(--oasis-blue);
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;

}

.submitButton:hover {
    border: 3.5px solid var(--oasis-green);
    transition: transform 0.3s smooth;
    padding: 9px 0 9px 0;
}

.submitButton h4 {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 28px;
    color: var(--oasis-blue);
    margin: 0;
}


input {
    border-radius: 20px;
    border: none;
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-size: 28px;
    padding: 10px 0px 10px 18px;
}