.contentBlockContainerDefault {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  height: fit-content;
}

.contentBlockContainerDefault h2 {
  font-family: 'Brandon Grotesque';
  font-style: normal;
  font-weight: 420;
  font-size: 64px;
  line-height: 92px;
  margin: 0;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #002642;
}

.contentBlockContainerDefault p {
  font-family: 'Brandon Grotesque';
  font-style: normal;
  font-weight: 390;
  font-size: 28px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #002642;
  margin: 0;
}