.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 90%;
}

table h4 {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 420;
    font-size: 38px;
    color: var(--oasis-blue);
    margin: 0;
}

table p {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 390;
    font-size: 28px;
    color: var(--oasis-blue);
}

th {
    border-right: 2.5px solid var(--oasis-blue);
    border-bottom: 2.5px solid var(--oasis-blue);
}

td, th {
    text-align: center;
}

.semesterCell {
    border-right: 2.5px solid var(--oasis-blue);
}

.infoSessionCell {
    border-right: 2.5px solid var(--oasis-blue);
}

.startCell {
    border-right: 2.5px solid var(--oasis-blue);
}

.endCell {
    border-right: none;
}