.commonSplash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ECF0F1;
  color: #FFFFFF;
  padding: 144px;
  padding-top: 256px;
  padding-bottom: 256px;
  box-sizing: border-box;
  position: relative;

  h1,
  p {
    width: 70%;
  }

  h1 {
    margin-bottom: 64px;
  }

  @media screen and (max-width: 640px),
    screen and (max-width: 1000px) {
    padding: 128px 640px 128px 640px;

    h1,
    p {
      width: 100%;
    }

    h1 {
      margin-bottom: 32px;
    }
  }
}
