/** Type */
$font-size-mega: 200px;
$font-size-heading1: 96px;
$font-size-heading2: 64px;
// not used
$font-size-heading3: 47px;
$font-size-heading4: 40px;

$font-size-body: 28px;
$font-size-mobilebody: 18px;
$font-size-mobile-mega: 130px;
$font-size-mobile-heading1: 70px;
$font-size-mobile-heading2: 50px;

$line-height-body: 40px;

/** Color */
$color-light-gray: #ECF0F1;
$color-dark-blue: #002642;
$color-main-green: #397367;
$color-bright-turquoise: #B8D8CA;
$color-bright-yellow: #F2D16B;
$color-white: #FFFFFF;

/** Breakpoints */
$breakpoint-mobile: 640px;
$breakpoint-midsize: 1000px;

/** Layout */
$margin: 64px;
$margin-mobile: 32px;
$margin-nav: 66px;

/** */
$ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
